table {
  background: rgb(149, 148, 148);
  min-height: 100%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}
table thead tr {
  background: rgb(21, 54, 131);
  padding: 1rem 0;
  border-bottom: 1px solid #333;
}
table thead tr th {
  text-align: left;
  color: var(--white);
  font-weight: 600;
  padding: 1rem;
  width: 134px;
}

table tbody tr {
  background: var(--background-color);
  padding: 2rem 0;
  margin-bottom: 1rem;
  color: var(--color);
  font-weight: 700;
}

.table__content {
  width: 30px;
}
table tbody tr td {
  padding: 1rem;
  width: 180px;
  cursor: pointer;
}

.table__img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 10px;
}

.text__danger {
  color: red;
}

.text__success {
  color: green;
}

/*Pagination */

.pagination__container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.pagination__button {
  border: 1px solid black;
  background: rgb(21, 54, 131);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.3rem;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.pagination__button:hover {
  color: rgb(10, 10, 134);
}

.pagination__info {
  display: flex;
  font-weight: 700;
  color: var(--color);
  margin: 0 1rem;
  height: 30px;
  align-items: center;
  font-family: "Lato", sans-serif;
}

/*Chart */

.chart__container {
  background: var(--background-color);
  width: 50%;
  margin: 0 auto;
  height: 500px !important;
}

.canvas__container {
  margin: 0 auto;
}

#myChart {
  height: 500px;
}

.time__format {
  background: var(--white);
  padding: 6px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
}
@media all and (max-width: 1088px) {
  table thead tr th {
    width: 110px;
  }

  table tbody tr td {
    width: 120px;
    font-size: 14px;
  }

  .table__img {
    width: 30px;
    height: 30px;
  }

  .table {
    width: 90%;
  }
}

@media all and (max-width: 694px) {
  table thead tr th {
    width: 26.4%;
    font-size: 13px;
  }
  table tbody tr td {
    width: 27%;
    font-size: 12px;
  }

  .table__content {
    width: 90px;
    display: flex;
  }

  .table {
    width: 90%;
  }
}

@media all and (max-width: 580px) {
  .table {
    width: 100%;
  }
  table thead tr th {
    width: 26.2%;
    font-size: 13px;
  }
  .table__container {
    width: 100%;
  }

  .removed {
    max-width: 170px !important;
  }
}

@media all and (max-width: 470px) {
  table thead tr th {
    width: 24.5%;
    font-size: 11px;
  }
  .table__overflow {
    width: 40px;
  }

  .removed {
    width: 60px;
  }
  .table__container {
    display: block;
  }
  table tbody tr td {
    width: 74px;
    font-size: 12px;
  }
  .text__danger {
    display: block;
    width: 20px;
  }

  .text__success {
    display: block;
    width: 20px;
  }
  .table__content {
    display: block;
    width: 50px;
  }
}

@media all and (max-width: 430px) {
  table thead tr th {
    max-width: 26.5%;
    font-size: 11px;
  }
  .removed {
    display: none;
    visibility: hidden;
  }
  .table__container {
    display: block;
  }

  .table__overflow {
    width: 5px;
  }
  .table__content {
    width: 8px;
  }

  .text__danger {
    display: block;
    width: 5px;
  }

  .text__success {
    display: block;
    width: 5px;
  }
  .table__container {
    min-height: 100%;
    margin: 0;
  }
}

@media all and (max-width: 390px) {
  table thead tr th {
    width: 26.8%;
    font-size: 11px;
  }

  .table__content {
    width: 82px !important;
    font-size: 12px;
  }

  .text__danger {
    display: block;
    width: 25px;
  }

  .text__success {
    display: block;
    width: 25px;
  }
  .table__overflow {
    width: 74px;
  }
}

@media all and (max-width: 350px) {
  table thead tr th {
    width: 32.5%;
    font-size: 11px;
  }

  .table__content {
    width: 68px !important;
    font-size: 12px;
  }

  .text__danger {
    display: block;
    width: 25px;
  }

  .text__success {
    display: block;
    width: 25px;
  }
  .table__overflow {
    width: 60px;
  }
}
