#darkMode {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmzRwxBFOEnZaySjTAnTQlaDqtivN0Stf3rg&usqp=CAU");
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmzRwxBFOEnZaySjTAnTQlaDqtivN0Stf3rg&usqp=CAU") !important;
}
