.home__container > h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}

.home__container {
  text-align: center;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  position: relative;
  top: 0;
  margin-bottom: 100px;
  border-bottom: 4px solid black;
}

.header__container > a > img {
  padding: 1rem;
  height: 60px;
  min-width: 60px;
}

.trending__container {
  display: inline-grid;
  grid-template-columns: 19px 351px 100px;
  border: 1px solid rgb(214, 212, 212);
  padding: 10px;
  text-align: center;
  margin: 3px;
  grid-template-rows: 100px;
  transition: 0.4s all linear;
  font-size: 21px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.trending__button {
  border: 1px solid black;
  background: rgb(21, 54, 131);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.3rem;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.trending__container > span {
  display: flex;
  flex-direction: column;
}

.trending__position {
  display: flex;
  flex-direction: column;
}
/*SEARCH */

.flex {
  background: rgb(21, 54, 131);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}

@media all and(max-width:1088px) {
  .trending__container {
    grid-template-columns: 190px 251px 10px;
  }
}

@media all and(max-width:608px) {
  .home__container > h1 {
    font-size: 11px !important;
  }
}
