.home__container > h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}
.home__container {
  margin: 0 auto;
  text-align: center;
}
.header__container {
  align-items: center;
  width: 100%;
  height: 70px;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid black;
  background: var(--background-color);
}

.header__container > a > img {
  padding: 1rem;
  height: 60px;
  min-width: 60px;
}

.trending__container {
  display: inline-grid;
  grid-template-columns: 19px 351px 100px;
  border: 1px solid rgb(214, 212, 212);
  padding: 10px;
  text-align: center;
  margin: 3px;
  grid-template-rows: 100px;
  transition: 0.4s all linear;
  font-size: 21px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
.trending__symbol {
  visibility: show;
  display: block;
}
.trending__button {
  border: 1px solid black;
  background: rgb(21, 54, 131);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.3rem;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.3s all linear;
}

.trending__button:hover {
  background: black;
  color: rgb(21, 54, 131);
}

.trending__container > span {
  display: flex;
  flex-direction: column;
}

.trending__position {
  display: flex;
  flex-direction: column;
}
/*SEARCH */

.flex {
  background: rgb(21, 54, 131);
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
  border-radius: 0px 0px 20px 20px;
  font-family: "Lato", sans-serif;
}

.search {
  margin: 20px;
  text-align: center;
}

.search > div {
  display: flex;
  justify-content: center;
  margin: 0;
  text-align: center;
  filter: drop-shadow(0 1px #0091c2);
}

.search > div:after {
  content: "";
  background: white;
  width: 3px;
  height: 16px;
  position: absolute !important;
  top: 37px;
  right: 2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 20px;
  height: 20px;
  padding: 10px;
  position: relative;
  color: var(--white);
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  display: block;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}

.search__coins {
  z-index: 1;
  width: 220px;
  top: -7.5rem;
  max-height: 500px;
  background: var(--background-color);
  padding: 10px;
  text-align: center;
  font-weight: 700;
  border-radius: 6px;
  margin: 0 auto;
  color: var(--color);
  display: flex;
  position: relative;
  border: 2px solid black;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.search__value:hover {
  transform: translateX(130px);
}

.search__value {
  transition: transform 0.8s ease;
  transform: translateX(0px);
  position: relative;
  width: 120px;
  text-align: left;
}

@media all and(max-width:1088px) {
  .home__container {
    width: 100%;
  }
  .trending__container {
    display: inline-grid;
    grid-template-columns: 19px 11px 10px !important;
    border: 1px solid rgb(214, 212, 212);
    padding: 10px;
    width: 200px;
    text-align: center;
    margin: 3px;
    grid-template-rows: 30px;
  }
}

@media all and(max-width:608px) {
  .home__container > h1 {
    font-size: 11px !important;
  }
}
@media all and (max-width: 520px) {
  .home__container {
    width: 100%;
  }
  .trending__button {
    font-size: 15px !important;
  }

  .flex {
    width: 100%;
  }
  .trending__container {
    display: inline-grid;
    grid-template-columns: 19px 151px 10px !important;
    border: 1px solid rgb(214, 212, 212);
    padding: 10px;
    width: 300px;
    text-align: center;
    margin: 3px;
    grid-template-rows: 50px;
    font-size: 16px;
  }
  .home__container > h1 {
    font-size: 28px !important;
  }
  .trending__symbol {
    visibility: hidden;
    display: none;
  }
}

@media screen and(max-width:488px) {
  .search > div > input:focus,
  .search > div > input:not(:placeholder-shown) {
    width: 150px !important;
  }

  .trending__button {
    font-size: 13px !important;
  }
}

@media all and (max-width: 360px) {
  .trending__container {
    display: inline-grid;
    grid-template-columns: 19px 151px 10px !important;
    border: 1px solid rgb(214, 212, 212);
    padding: 10px;
    width: 250px;
    text-align: center;
    margin: 3px;
    grid-template-rows: 40px;
    font-size: 14px;
  }
}
